*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Rubik, 'Sans-serif';
}
body {
  margin: 0;
  padding: 0;
  color: $brand-color;
  background: $brand-grey;
}
ul {
  padding-left: 0;
  list-style: none;
}
a {
  color: $brand-color;
  text-decoration: none !important;
}
